-- DropForeignKey
ALTER TABLE "public"."favorites" DROP CONSTRAINT "favorites_cliente_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."favorites" DROP CONSTRAINT "favorites_product_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."products" DROP CONSTRAINT "products_category_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."pedidos" DROP CONSTRAINT "pedidos_cliente_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."pedidos" DROP CONSTRAINT "pedidos_comanda_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."comandas" DROP CONSTRAINT "comandas_cliente_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."comandas" DROP CONSTRAINT "comandas_mesa_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."avaliacoes" DROP CONSTRAINT "avaliacoes_cliente_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."avaliacoes" DROP CONSTRAINT "avaliacoes_comanda_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."items" DROP CONSTRAINT "items_pedido_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."items" DROP CONSTRAINT "items_product2_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."items" DROP CONSTRAINT "items_product_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."product_ingrediente" DROP CONSTRAINT "product_ingrediente_ingrediente_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."product_ingrediente" DROP CONSTRAINT "product_ingrediente_product_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."item_adicional" DROP CONSTRAINT "item_adicional_adicional_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."item_adicional" DROP CONSTRAINT "item_adicional_item_id_fkey";

-- DropTable
DROP TABLE "public"."funcionarios";

-- DropTable
DROP TABLE "public"."clientes";

-- DropTable
DROP TABLE "public"."favorites";

-- DropTable
DROP TABLE "public"."categories";

-- DropTable
DROP TABLE "public"."products";

-- DropTable
DROP TABLE "public"."pedidos";

-- DropTable
DROP TABLE "public"."comandas";

-- DropTable
DROP TABLE "public"."avaliacoes";

-- DropTable
DROP TABLE "public"."items";

-- DropTable
DROP TABLE "public"."ingredientes";

-- DropTable
DROP TABLE "public"."product_ingrediente";

-- DropTable
DROP TABLE "public"."adicionais";

-- DropTable
DROP TABLE "public"."item_adicional";

-- DropTable
DROP TABLE "public"."mesas";

